body {
    margin: 0;
    padding: 0;
}

:root[data-theme="light"] {
    --text: #0d1212;
    --text-secondary: #567676;
    --background: #deeded;
    --background-secondary: #bedada;
    --primary: #2a5a59;
    --secondary: #7ececd;
    --accent: #32a9a3;
  }
  :root[data-theme="dark"] {
    --text: #edf2f2;
    --text-secondary: #89a9a9;
    --background: #0d1717;
    --background-secondary: #122121;
    --primary: #a5d5d4;
    --secondary: #318180;
    --accent: #56cdc7;
  }
  
  :root[data-theme="light"] {
    --text-50: #f0f4f4;
    --text-100: #e1eaea;
    --text-200: #c4d4d4;
    --text-300: #a6bfbf;
    --text-400: #89a9a9;
    --text-500: #6b9494;
    --text-600: #567676;
    --text-700: #405959;
    --text-800: #2b3b3b;
    --text-900: #151e1e;
    --text-950: #0b0f0f;
  
    --background-50: #eff6f6;
    --background-100: #deeded;
    --background-200: #bedada;
    --background-300: #9dc8c8;
    --background-400: #7cb6b6;
    --background-500: #5ca3a3;
    --background-600: #498383;
    --background-700: #376262;
    --background-800: #254141;
    --background-900: #122121;
    --background-950: #091010;
  
    --primary-50: #eef7f7;
    --primary-100: #dcefee;
    --primary-200: #badede;
    --primary-300: #97cecd;
    --primary-400: #74bebc;
    --primary-500: #52adac;
    --primary-600: #418b89;
    --primary-700: #316867;
    --primary-800: #214545;
    --primary-900: #102322;
    --primary-950: #081111;
  
    --secondary-50: #edf8f8;
    --secondary-100: #daf1f1;
    --secondary-200: #b5e3e2;
    --secondary-300: #90d5d4;
    --secondary-400: #6bc7c5;
    --secondary-500: #46b9b7;
    --secondary-600: #389492;
    --secondary-700: #2a6f6e;
    --secondary-800: #1c4a49;
    --secondary-900: #0e2525;
    --secondary-950: #071212;
  
    --accent-50: #ebf9f8;
    --accent-100: #d8f3f2;
    --accent-200: #b0e8e5;
    --accent-300: #89dcd8;
    --accent-400: #62d0cb;
    --accent-500: #3bc4bd;
    --accent-600: #2f9d98;
    --accent-700: #237672;
    --accent-800: #174f4c;
    --accent-900: #0c2726;
    --accent-950: #061413;
  
  }
  :root[data-theme="dark"] {
    --text-50: #0b0f0f;
    --text-100: #151e1e;
    --text-200: #2b3b3b;
    --text-300: #405959;
    --text-400: #567676;
    --text-500: #6b9494;
    --text-600: #89a9a9;
    --text-700: #a6bfbf;
    --text-800: #c4d4d4;
    --text-900: #e1eaea;
    --text-950: #f0f4f4;
  
    --background-50: #091010;
    --background-100: #122121;
    --background-200: #254141;
    --background-300: #376262;
    --background-400: #498383;
    --background-500: #5ca3a3;
    --background-600: #7cb6b6;
    --background-700: #9dc8c8;
    --background-800: #bedada;
    --background-900: #deeded;
    --background-950: #eff6f6;
  
    --primary-50: #081111;
    --primary-100: #102322;
    --primary-200: #214545;
    --primary-300: #316867;
    --primary-400: #418b89;
    --primary-500: #52adac;
    --primary-600: #74bebc;
    --primary-700: #97cecd;
    --primary-800: #badede;
    --primary-900: #dcefee;
    --primary-950: #eef7f7;
  
    --secondary-50: #071212;
    --secondary-100: #0e2525;
    --secondary-200: #1c4a49;
    --secondary-300: #2a6f6e;
    --secondary-400: #389492;
    --secondary-500: #46b9b7;
    --secondary-600: #6bc7c5;
    --secondary-700: #90d5d4;
    --secondary-800: #b5e3e2;
    --secondary-900: #daf1f1;
    --secondary-950: #edf8f8;
  
    --accent-50: #061413;
    --accent-100: #0c2726;
    --accent-200: #174f4c;
    --accent-300: #237672;
    --accent-400: #2f9d98;
    --accent-500: #3bc4bd;
    --accent-600: #62d0cb;
    --accent-700: #89dcd8;
    --accent-800: #b0e8e5;
    --accent-900: #d8f3f2;
    --accent-950: #ebf9f8;
  
  }

  /* @link https://utopia.fyi/type/calculator?c=320,20,1.2,1240,20,1.2,5,2,1000&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--2: clamp(0.8681rem, 0.8681rem + 0vw, 0.8681rem);
    --step--1: clamp(1.0417rem, 1.0417rem + 0vw, 1.0417rem);
    --step-0: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
    --step-1: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
    --step-2: clamp(1.8rem, 1.8rem + 0vw, 1.8rem);
    --step-3: clamp(2.16rem, 2.16rem + 0vw, 2.16rem);
    --step-4: clamp(2.592rem, 2.592rem + 0vw, 2.592rem);
    --step-5: clamp(3.1104rem, 3.1104rem + 0vw, 3.1104rem);
  }

h1{font-size:var(--step-5);}
h2{font-size:var(--step-4);}
h3{font-size:var(--step-3);}
h4{font-size:var(--step-2);}
h5{font-size:var(--step-1);}
h6{font-size:var(--step-0);}
p{font-size:var(--step-0);}

/* @link https://utopia.fyi/space/calculator?c=320,20,1.2,1240,20,1.2,5,2,1000&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
  --space-xs: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
  --space-s: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  --space-m: clamp(1.875rem, 1.875rem + 0vw, 1.875rem);
  --space-l: clamp(2.5rem, 2.5rem + 0vw, 2.5rem);
  --space-xl: clamp(3.75rem, 3.75rem + 0vw, 3.75rem);
  --space-2xl: clamp(5rem, 5rem + 0vw, 5rem);
  --space-3xl: clamp(7.5rem, 7.5rem + 0vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.625rem, 0.5163rem + 0.5435vw, 0.9375rem);
  --space-xs-s: clamp(0.9375rem, 0.8288rem + 0.5435vw, 1.25rem);
  --space-s-m: clamp(1.25rem, 1.0326rem + 1.087vw, 1.875rem);
  --space-m-l: clamp(1.875rem, 1.6576rem + 1.087vw, 2.5rem);
  --space-l-xl: clamp(2.5rem, 2.0652rem + 2.1739vw, 3.75rem);
  --space-xl-2xl: clamp(3.75rem, 3.3152rem + 2.1739vw, 5rem);
  --space-2xl-3xl: clamp(5rem, 4.1304rem + 4.3478vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.25rem, 0.8152rem + 2.1739vw, 2.5rem);
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--background); /* Change to match your website */
    z-index: -10; /* Ensures it stays behind other content */
}

header {
  background: var(--text);
  color: var(--background);
}

.nav-container {
  display: flex;
  padding: var(--space-s);
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
}

.switch {
  margin-left: var(--space-m);
}

main {
  color: var(--text);
}

main div img {
  border-radius: 50%;
  width: clamp(200px,10vw,350px);
  height: auto;
}

.introduction-container {
  display: flex;
  padding: var(--space-l);
  align-items: center;
}

.introduction-item h1 {
  margin-bottom: 0px;
}

.introduction-item a {
  margin-right: var(--space-xs);
}

.introduction-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: var(--space-m);
  line-height: var(--space-xs);
}

a {
  color: var(--text-secondary);
  text-decoration-line: none;
}

a:hover {
  color: var(--text)
}

/* main */

.section-wrapper {
  background: var(--text);
  color: var(--background);
}

.flex-container {
  display: flex;
  padding-bottom: 2.3rem;
}

.left-container {
  flex:1;
  padding-left: var(--space-m);
  padding-right: var(--space-s);
}

.right-container {
  flex:1;
  padding-left: var(--space-s);
  padding-right: var(--space-m);
  overflow: hidden;
}


.about-item img {
  width: clamp(175px,10vw,300px);
  height: auto;
  border-radius: 50%;
  float: left;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  padding-right: var(--space-s);
}

.academic-item img {
  width: clamp(175px,10vw,300px);
  height: auto;
  float: left;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  padding-right: var(--space-s);
}

.about-item p {
  padding-top: var(--space-s);
}

.academic-item h5 {
  padding-top: var(--space-s);
}



/* */
footer {
  color: var(--text);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.copyright-container {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.contact-list {
  line-height: 0.5rem;
}

footer div div h4 {
  margin-bottom: 0px;
}

.web-logos a{
  margin-right:0.3rem;

}

.contact-container {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}


